<main class="container mt-4">
    <h2>Livros</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">resumo</th>
          <th scope="col">Editora</th>
          <th scope="col">Autores</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>{{ livro.titulo }} <br>
            <button class="btn btn-danger" (click)="excluir(livro.codigo)">
              Excluir
            </button>
          </td>
          <td>{{ livro.resumo }}</td>
          <td>{{ obterNome(livro.codEditora) }}</td>
          <td>
            <ul>
              <li *ngFor="let autor of livro.autores">{{ autor }}</li>
            </ul>
          </td>
        
        </tr>
      </tbody>
    </table>
  </main>
  