<main>
  <h1>Dados do Livro</h1>
  <form (submit)="incluir()">
    <div class="form-group">
      <label>Título</label>
      <input type="text" [(ngModel)]="titulo" name="titulo" class="form-control mb-3" required />
    </div>
    <div class="form-group">
      <label>Resumo</label>
      <textarea [(ngModel)]="resumo" name="resumo" class="form-control mb-3" required></textarea>
    </div>
    <div class="form-group">
      <label>Editora</label>
      <select [(ngModel)]="codEditora" name="codEditora1" class="form-control mb-3">
        <option *ngFor="let opcao of opcoes" [value]="opcao.value">{{ opcao.text }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Autores (1 por linha)</label>
      <textarea [(ngModel)]="autores" name="autores" class="form-control mb-3" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary" >Salvar Dados</button>
   
  </form>
</main>